<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <script src="{{url_for('static', filename='index.js')}}"></script>
</head>

<body>
    <div class="container">
        <h1>Información de Usuarios</h1>
        {% for user in users %}
        <div class="user-card">
            <div class="user-info">
                <p><strong>Nombre:</strong> {{ user['name'] }}</p>
                <p><strong>Teléfono:</strong> {{ user['Telefono'] }}</p>
                <p><strong>Email:</strong> {{ user['email'] }}</p>
                <p><strong>Dispositivo:</strong> {{ user['Dispositivo'] }}</p>
                <p class="subcripcion"><strong>Subscripción:</strong> {{ user['Subcripcion'] }}</p>
                <p class="fecha-contratacion"><strong>Fecha de Contratación:</strong> {{ user['Fecha de Contratacion']
                    }}</p>
                <p class="meses"><strong>Meses:</strong> {{ user['meses'] }}</p>
                <p class="fecha-expiracion"><strong>Fecha de Expiración:</strong> {{ user['Fecha de expiracion'] if
                    user['Fecha de expiracion'] else 'N/A' }}</p>
                <p class="precio"><strong>Precio:</strong> {{ user['Precio'] if user['Precio'] else 'N/A' }}</p>
            </div>
            <button class="action-button" data-user-id="{{ user['id'] }}"
                data-action="{{ 'unsubscribe' if user['Subcripcion'] == 'Alta' else 'subscribe' }}"
                onclick="toggleSubscription(this)">
                {{ 'Unsubscribe' if user['Subcripcion'] == 'Alta' else 'Subscribe' }}
            </button>
        </div>
        {% endfor %}
    </div>
</body>

</html>