<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#loginForm').submit(function (event) {
                event.preventDefault(); // Prevent the default form submission
                var formData = {
                    nombre_usuario: $('#nombre_usuario').val(),
                    password: $('#password').val()
                };
                $.ajax({
                    type: "POST",
                    url: "/login",
                    data: formData,
                    success: function (response) {
                         window.location.href = '/'; // Redirect to the homepage on success
                    },
                    error: function () {
                        $('#mensajeError').text('Usuario o contraseña incorrectos.');
                    }
                });
            });
        });
    </script>
</head>

<body>
    <form id="loginForm" method="POST" action="/login">
        <label for="nombre_usuario">Nombre de usuario:</label>
        <input type="text" id="nombre_usuario" name="nombre_usuario" required><br><br>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Iniciar sesión</button>
        <div id="mensajeError" style="color: red;"></div>
    </form>

    
</body>

</html>