/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Estilo del contenedor principal */
.container {
    width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo del encabezado */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Estilo de las celdas de la tabla */
th,
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

/* Estilo para resaltar la primera fila (encabezado de la tabla) */
th {
    background-color: #f2f2f2;
    color: #333;
}

/* Estilo para las filas impares */
tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Estilo para resaltar en hover */
tr:hover {
    background-color: #f5f5f5;
}

/* Estilo para los botones */
button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* New Styles for User Cards */
.user-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 10px;
}

.user-info p {
    margin: 5px 0;
}

/* New Styles for Subscription Buttons */
.unsubscribe-button {
    background-color: #f44336;
    /* Red */
}

.unsubscribe-button:hover {
    background-color: #d32f2f;
}

.subscribe-button {
    background-color: #4CAF50;
    /* Green */
}

.subscribe-button:hover {
    background-color: #45a049;
}

.action-button {
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    width: fit-content;
    margin-top: 10px;
}